* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --fs-body: 1.6rem;
}

body {
  min-width: 30rem;
  min-height: 100vh;
  font-size: var(--fs-body);
  background-color: #404040;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page {
  /* max-width: 120rem; */
  width: 50%;
  margin: auto;
  min-height: 70vh;
  background-image: url(./assets/fundo.svg);
  background-size: cover;
  border: 5px solid black;

  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  width: 100%;
  grid-template-areas:
    "A B C D"
    "E F G H"
    "I J K L";

  column-gap: 10%;
  padding: 0 2rem 5rem;
}

.grid div {
  background-image: url(./assets/toupeira6.svg);
  background-size: contain;
  background-position-y: bottom;
  background-repeat: no-repeat;
  max-width: 21.3rem;
  width: 100%;
  height: auto;
}

.grid img {
  width: 100%;
  height: auto;
  opacity: 0;
}

.grid > div:nth-child(2) {
  grid-area: B;
  animation: toupeira 4s 1.5s infinite;
}
.grid > div:nth-child(4) {
  grid-area: D;
  animation: toupeira 2s 2.2s infinite;
}
.grid > div:nth-child(11) {
  grid-area: K;
  animation: toupeira 4s 0.5s infinite;
}

.grid > div:nth-child(5) {
  grid-area: E;
  animation: toupeira 4s 2.5s infinite;
}

.grid > div:nth-child(10) {
  grid-area: J;
  animation: toupeira 3s 2s infinite;
}

@keyframes toupeira {
  0% {
    background-image: url(./assets/toupeira6.svg);
  }

  2% {
    background-image: url(./assets/toupeira1.svg);
  }

  4% {
    background-image: url(./assets/toupeira2.svg);
  }

  6% {
    background-image: url(./assets/toupeira3.svg);
  }

  20% {
    background-image: url(./assets/toupeira3.svg);
  }

  22% {
    background-image: url(./assets/toupeira2.svg);
  }
  24% {
    background-image: url(./assets/toupeira1.svg);
  }

  26% {
    background-image: url(./assets/toupeira6.svg);
  }

  100% {
    background-image: url(./assets/toupeira6.svg);
  }
}
/* 4 6 e 11 */
@media (max-width: 1200px) {
  .page {
    width: 80%;
  }
}
@media (max-width: 768px) {
  body {
    margin-top: 5rem;
    justify-content: flex-start;
  }
  .page {
    min-height: 45vh;
    width: 70%;
  }

  .grid div {
    max-width: 90rem;
    width: 100%;
    height: auto;
  }
}

@media (max-width: 500px) {
  .page {
    min-height: 35vh;
    width: fit-content;
  }

  body {
    padding: 0 1rem;
  }
}
