* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #404040;
}

.background-game {
  background-image: url(assets/fundo.svg);

  width: 1440px;
  height: 1024px;

  display: grid;
  justify-content: center;
  align-content: center;

  grid-template-columns: fit-content(50%) fit-content(50%) fit-content(50%) fit-content(
      50%
    );
  grid-template-rows: fit-content(50%) fit-content(50%) fit-content(50%);

  gap: 54px;
}

.animation {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}

.toupeira {
  position: relative;
}

.t4 .a1 {
  animation: toupeira2 750ms 500ms, toupeira2 1.4s 4s infinite;
}

.t4 .a2 {
  animation: toupeira2 750ms 680ms, toupeira2 1.4s 4.1s infinite;
}

.t4 .a3 {
  animation: toupeira2 750ms 780ms, toupeira2 1.4s 4.2s infinite;
}

.t4 .a4 {
  animation: toupeira2 750ms 880ms, toupeira2 1.4s 4.3s infinite;
}

.t4 .a5 {
  animation: toupeira2 750ms 980ms, toupeira2 1.4s 4.4s infinite;
}

.t6 .a1 {
  animation: toupeira2 750ms 1.4s, toupeira2 1.4s 5s infinite;

  /* animation-iteration-count: infinite; */
}

.t6 .a2 {
  animation: toupeira2 750ms 1.58s, toupeira2 1.4s 5.1s infinite;

  /* animation-iteration-count: infinite; */
}

.t6 .a3 {
  animation: toupeira2 750ms 1.76s, toupeira2 1.4s 5.2s infinite;

  /* animation-iteration-count: infinite; */
}

.t6 .a4 {
  animation: toupeira2 750ms 1.94s, toupeira2 1.4s 5.3s infinite;

  /* animation-iteration-count: infinite; */
}

.t6 .a5 {
  animation: toupeira2 750ms 2.12s, toupeira2 1.4s 5.4s infinite;

  /* animation-iteration-count: infinite; */
}

.t11 .a1 {
  animation: toupeira2 750ms 3s, toupeira2 1.4s 6.2s infinite;

  /* animation-iteration-count: infinite; */
}

.t11 .a2 {
  animation: toupeira2 750ms 3.18s, toupeira2 1.4s 6.3s infinite;

  /* animation-iteration-count: infinite; */
}

.t11 .a3 {
  animation: toupeira2 750ms 3.36s, toupeira2 1.4s 6.4s infinite;

  /* animation-iteration-count: infinite; */
}

.t11 .a4 {
  animation: toupeira2 750ms 3.54s, toupeira2 1.4s 6.5s infinite;

  /* animation-iteration-count: infinite; */
}

.t11 .a5 {
  animation: toupeira2 750ms 3.72s, toupeira2 1.4s 6.6s infinite;

  /* animation-iteration-count: infinite; */
}

.toupeira:hover .a1 {
  animation: toupeira2 750ms 0.3s;
}

.toupeira:hover .a2 {
  animation: toupeira2 750ms 0.4s;
}
.toupeira:hover .a3 {
  animation: toupeira2 750ms 0.5s;
}
.toupeira:hover .a4 {
  animation: toupeira2 750ms 0.6s;
}
.toupeira:hover .a5 {
  animation: toupeira2 750ms 0.7s;
}

@keyframes toupeira2 {
  0% {
    opacity: 0;
    z-index: -1;
  }

  25% {
    opacity: 0;
    z-index: -1;
  }

  40% {
    opacity: 0;
    z-index: -1;
  }

  50% {
    opacity: 1;

    z-index: 2;
  }

  75% {
    opacity: 0;
    z-index: -1;
  }

  85% {
    opacity: 0;
    z-index: -1;
  }

  100% {
    opacity: 0;
    z-index: -1;
  }
}

/* 4 6 e 11 */

/* .background-game img:nth-child(1) {
  grid-area: "A";
}
.background-game img:nth-child(2) {
  grid-area: "B";
}
.background-game img:nth-child(3) {
  grid-area: "C";
}
.background-game img:nth-child(4) {
  grid-area: "D";
}
.background-game img:nth-child(5) {
  grid-area: "E";
}
.background-game img:nth-child(6) {
  grid-area: "F";
}
.background-game img:nth-child(7) {
  grid-area: "G";
}
.background-game img:nth-child(8) {
  grid-area: "H";
}
.background-game img:nth-child(9) {
  grid-area: "I";
}
.background-game img:nth-child(10) {
  grid-area: "J";
}
.background-game img:nth-child(11) {
  grid-area: "K";
}
.background-game img:nth-child(12) {
  grid-area: "L";
} */
